<div class="section">
  <div class="container">
    <div class="detail-content-wrapper">
      <div class="columns">
        <div class="column is-5">
          <div class="box">
            <figure class="image is-square">
              <img src="<%= @vendor.image %>">
            </figure>
          </div>
        </div>

        <div class="column is-6 has-text-justified is-offset-1">
          <div class="content is-medium">
            <h1>
              <%= @vendor.name %>
            </h1>
            <p class="is-size-6 mb-24">
              Posted by 
              <%= link_to user_path(@vendor.user_id), 'data-turbolinks': false do %>
                <span class="has-text-grey-light">
                  <%= @vendor.user.username %>
                </span>
              <% end %>
            </p>
            <p class="is-size-6 has-text-grey">
              <%= @vendor.body %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>