<footer class="footer">
  <div class="has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <img src="/logo.png" />
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
          <p>
            Curating the best wedding services. Handpicked by the community.
          </p>
        </div>
      </div>
      <hr />
      <div class="columns is-gapless mt-24">
        <div class="column is-4">
          <span class="is-size-4 has-text-weight-semibold">Company</span>
          <ul class="mt-16 mb-16">
            <li>
              <%= link_to 'About', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'Help', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'Legal & Privacy', 'https://www.freeprivacypolicy.com/privacy/view/db74f6110ccafc17745acd47d2e83f0d', 'data-turbolinks': false %>
            </li>
          </ul>
        </div>
        <div class="column is-4">
          <span class="is-size-4 has-text-weight-semibold">Quick Links</span>
          <ul class="mt-16 mb-16">
            <li>
              <%= link_to 'Subscribe', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'Contact Us', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'FAQ', root_path, 'data-turbolinks': false %>
            </li>
          </ul>
        </div>
        <div class="column is-4">
          <span class="is-size-4 has-text-weight-semibold">Social</span>
          <ul class="mt-16 mb-16">
            <li>
              <%= link_to 'Twitter', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'Facebook', root_path, 'data-turbolinks': false %>
            </li>
            <li>
              <%= link_to 'Instagram', root_path, 'data-turbolinks': false %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p></p>
  </div>
</footer>